<div class="sidebar-wrapper">
  <ul>
    <li>
      <%= link_to "#", class: "sidebar-menu first" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu last" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
  </ul>
</div>
