<div class="sidebar-wrapper">
  <ul>
    <li>
      <%= link_to :users, class: "sidebar-menu first" do %>
        <i class="fas fa-users sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">USERS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu" do %>
        <i class="fas fa-balance-scale sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">VOTES</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu" do %>
        <i class="fab fa-accusoft sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">GROUPS</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-menu last" do %>
        <i class="fas fa-cog sidebar-menu-icon"></i>
        <p class="sidebar-menu-title">SETTING</p>
      <% end %>
    </li>
  </ul>
</div>
