<div class="top-wrapper">
  <div class="bg-black-cover">
    <div class="top-card-wrapper">
      <div class="top-card">
        <div class="face face1">
          <div class="content">
            <i class="fab fa-500px top-card-icon"></i>
            <h3>About</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              このサイトの使用方法や<br>
              使われている使用技術について、<br>
              もっと詳しく知りたい方は、<br>
              こちらをご覧ください。
            </p>
            <div class="top-link-wrapper">
              <%= link_to "Read More", "#" %>
            </div>
          </div>
        </div>
      </div>

      <div class="top-card">
        <div class="face face1">
          <div class="content">
            <i class="fab fa-asymmetrik top-card-icon"></i>
            <h3>Let's Vote</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              ユーザ登録、ログインをして、<br>
              早速をYouvoteをお使い下さい！<br>
              なお、sampleユーザーも<br>
              ご用意しておりますので、<br>
              お急ぎに方は、<br>
              そちらでログインも可能です。
            </p>
            <div class="top-link-wrapper">

                <button type="button" class="formButton login" data-toggle="modal" data-target="#exampleModalLogin">
                  ログイン
                </button>
                <button type="button" class="formButton signUp ml-2" data-toggle="modal" data-target="#exampleModalSignup">
                  新規登録
                </button>
            </div>
          </div>
        </div>
      </div>

      <div class="top-card">
        <div class="face face1">
          <div class="content">
            <i class="fas fa-mail-bulk top-card-icon"></i>
            <h3>Contact</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              このサイトで
              使われている使用技術について、
              もっと詳しく知りたい方は、
              こちらをご覧ください。
            </p>
            <div class="top-link-wrapper">
              <%= link_to "Read More", "#" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ログイン</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render partial: "users/login_form", locals: { user: @user } %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalSignup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      
      <%= form_for @user do |f| %>
        <%= render partial: "users/form", locals: { form: f } %>
        <div class="modal-footer">
          <%= f.submit "登録", class: "btn btn-outline-primary" %>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">閉じる</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
